{% extends "base3.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/baguetteBox.min.css' %}"/>
<style>
        div.gallery {
            border: 1px solid #ccc;
            position: relative;
        }
        
        div.gallery:hover {
            border: 1px solid #777;
        }
        
        div.gallery img {
            width: 100%;
            height: auto;
        }
        
        div.desc {
            padding: 15px;
            text-align: center;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }
        
        @media only screen and (max-width: 700px) {
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
        }
        
        @media only screen and (max-width: 500px) {
            .responsive {
                width: 100%;
            }
        }
        
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
        .text-block {
            position: absolute;
            top: 20px;
            left: 0;
            background-color: black;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            opacity: .6;
            border-radius: 5;
        }
</style>
{% endblock extra-css %}

{% block title %}{{ page.seo_title }}{% endblock %}

{% block content %}

<div class="services">
	<div class="container">
		<div class="service-top">
			<h3>{{ page.title }}</h3>
            <sub>{{ page.body|richtext }}</sub>
            <a href="{% pageurl page.get_parent %}" style="color: #27DA93; font-weight: bold;">&laquo; back</a>
	
            <div class="services-grid">
                <div class="row">
                    <br/>
                    {% for pic in page.stage_images.all %}
                    <div class="responsive">
                        <div class="gallery">
                            <a target="_blank" href="img_5terre.jpg">
                                {% image pic.image width-260 %}
                            </a>
                            <div class="text-block"> 
                                <h4>{{pic.caption}}</h4>
                            </div>
                            <div class="desc">{{pic.description}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}