{% extends "base3.html" %}
{% block title %}Property Listings{% endblock title %}

{% block content %}
<!--List of videos -->
<div class="services">					
    <div class="container">

        <div class="service-top">
        	
        	
		    

        	<h3>Property Listings</h3>
        	<p style="padding-bottom: 10px;">Take a look at our ongoing projects</p>
        	<p>
        	<!-- search -->
			<div style="text-align: center; padding-bottom: 50px;">
        	<form>
		        <input type="text" name="q" placeholder="Search Projects" value="{{ request.GET.q }}"/>
		        <input type="submit" value="Search"/>
		    </form>
		    </div>
			<!-- search -->
		    </p>
			

                <div class="services-grid">
                	{% for property in properties %}

                	<div class="row">
                	<div class="col-md-6 service-top1">
	                	<div  class="price-top">
	                	<a href="{{ property.get_absolute_url }}">
	                		<h4 style="text-align: left;">{{ property.title }}</h4>
	                	</a>
	                	</div>
	                	{% if property.house_image %}
	                	<img src="{{ property.house_image.url }}" class="img-responsive"> <br>
	                	{% endif %}
	                </div>
	                <div class="col-md-6 service-top1">
	                	<div  class="price-top">
	                		<h4>Payment Plan</h4>
	                	</div>
							<p>Please contact us</p>
	                    	{% comment %} <table class="table table-bordered table-sm table-striped  table-hover">
		                	<thead class="thead-default">
		                	<tr>
							<th>MONTHS</th><th>PERCENTAGE</th><th>INITIAL (&#x20A6;)</th><th>INSTALLMENT (&#x20A6;)</th><th>BALANCE (&#x20A6;)</th><th>TOTAL (&#x20A6;)</th>
							</tr>
							</thead>
							<tbody>
		                	{% for plan in property.payment_set.all %} 

							<tr class="table-info">
							<td class="table-info">{{ plan.months }}</td>
							<td>{{ plan.percentage }}%</td>
							<td>{{ plan.initial_pay }}</td>
							<td>{% if plan.installment == 0 %} flexible {% else %} {{ plan.installment }} {% endif %}</td>
							<td>{{ plan.balance }}</td>
							<td>{{ plan.total_price }}</td>
							</tr>
		                                       
		                    {% endfor %}
		                    </tbody>
		                    </table> {% endcomment %}
		                    <a href="{{ property.get_absolute_url }}" class="hvr-sweep-to-right more" >View Property Details</a>
	                </div>
	                </div>
	                	<!-- {% cycle "" "<div class='col-md-12 col-sm-12' style='padding-bottom: 30px;'></div></div><div class='services-grid'>" %} -->
					{% endfor %}
				</div>	
		</div>

	</div>
	<div  style="text-align:center">
		<div class="pagination">
		    <span class="step-links">
		        
		        <ul class="pager">        
		      
		        <li class="next">
		        {% if properties.has_next %}
		            <a href="?{{ page_request_var }}={{ properties.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
		        {% endif %}
		        </li>
		    
		        <li class="next">  
		        <span class="current">
		            Page {{ properties.number }} of {{ properties.paginator.num_pages }}.
		        </span>
		        </li>

		        <li class="next">
		        {% if properties.has_previous %}
		        <a href="?{{ page_request_var }}={{ properties.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
		        {% endif %}
		        </li>
		        
		        </ul>

		    </span>
		</div>
	</div>

</div>


{% endblock content %}