{% extends "base3.html" %}
{% load staticfiles %}
{% block title %}Property Listings{% endblock title %}

{% block content %}
<!--List of videos -->
<div class="services">					
    <div class="container">

        <div class="service-top">
        	
        	
		    

        	<h3>Gallery</h3>
        	<!-- <p style="padding-bottom: 10px;">Take a look at our projects</p> -->
        	<p>
        	<!-- search -->
			<!-- <div style="text-align: center; padding-bottom: 50px;">
        	<form>
		        <input type="text" name="q" placeholder="Search Projects" value="{{ request.GET.q }}"/>
		        <input type="submit" value="Search"/>
		    </form>
		    </div> -->
			<!-- search -->
			<br>
		    </p>
			
			<div class="services-grid">
		       	<h2 class="fur-name" style="text-align: center; color:#27da93;"> columns for the Semi-Detached and Fully Detached buildings</h2><br>
		    	
		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/column1.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/column2.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/column3.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/column4.jpg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/column5.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/column6.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/column7.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/column8.jpg' %}" class="img-responsive"></div>
		    	</div>
			</div>

			<div class="services-grid">
		       	<h2 class="fur-name" style="text-align: center; color:#27da93;"> Suspended Decking for the Semi-Detached and Fully Detached buildings</h2><br>
		    	
		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/suspend1.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/suspend2.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/suspend3.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/suspend4.jpg' %}" class="img-responsive"></div>
		    	</div>
			</div>

		<div class="services-grid">
		       	<h2 class="fur-name" style="text-align: center; color:#27da93;"> Beam for the Semi-Detached and Fully Detached buildings</h2><br>
		    	
		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/beam1.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/beam2.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/beam3.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/beam4.jpeg' %}" class="img-responsive"></div>
		    	</div>
			</div>

			<div class="services-grid">
		       	<h2 class="fur-name" style="text-align: center; color:#27da93;"> Pile Cap Integrity testing for the Semi-Detached and Fully Detached buildings</h2><br>
		    	
		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/testpile1.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/testpile2.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/testpile3.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/testpile4.jpg' %}" class="img-responsive"></div>
		    	</div>
			</div>

		    <div class="services-grid">
		    	
		        	<h2 class="fur-name" style="text-align: center; color:#27da93;"> Pile Cap for the Semi-Detached and Fully Detached buildings</h2><br>
		
		    	<div class="row">
		    		<div class="col-md-3"><img src="{% static 'images/pilecap1.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap2.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap3.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap4.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap5.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap6.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap7.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap8.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap9.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap10.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap11.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilecap12.jpeg' %}" class="img-responsive"></div>
		    	</div>
		    <!--	
		    	

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling17.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling18.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling19.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling20.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling21.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling22.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling23.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling24.jpeg' %}" class="img-responsive"></div>
		    	</div>

				<div class="row">	
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling25.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling26.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling27.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling28.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling5.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling6.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling7.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling8.jpeg' %}" class="img-responsive"></div>
		    	</div> -->
		    </div>


		    <div class="services-grid">
		    	
		        	<h2 class="fur-name" style="text-align: center; color:#27da93;"> Work in progress at the site. (Pilling)</h2><br>
		
		    	<div class="row">
		    		<div class="col-md-3"><img src="{% static 'images/pilling1.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling2.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling3.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling4.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling5.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling6.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling7.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling8.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling9.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling10.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling11.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling12.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling13.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling14.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling15.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling16.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling17.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling18.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling19.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling20.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling21.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling22.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling23.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling24.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    <!--	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling25.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling26.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling27.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling28.jpeg' %}" class="img-responsive"></div>
		    	</div>

		    	<div class="row">
		    		<br>
		    		<div class="col-md-3"><img src="{% static 'images/pilling5.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling6.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling7.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/pilling8.jpeg' %}" class="img-responsive"></div>
		    	</div> -->
		    </div>

		    <div class="services-grid">
		    	
		        	<h2 class="fur-name" style="text-align: center; color:#27da93;">Previous Jobs done by our Engineer (Horn-Ward Klassic Nig. LTD)</h2><br>
		
		    	<div class="row">
		    		<div class="col-md-3"><img src="{% static 'images/build6.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/build.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/build3.jpg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/build8.jpg' %}" class="img-responsive"></div>
		    	</div>
		    </div>

		    <div class="services-grid">
		    	<div class="row">
		    		<div class="col-md-3"><img src="{% static 'images/building1.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/building2.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/building3.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/building4.jpeg' %}" class="img-responsive"></div>
		    	</div>
		    	<br>
		    	<br>
		    </div>

		    <div class="services-grid">
		    <h2 class="fur-name" style="text-align: center; color:#27da93;">Soil Test conducted for the Site</h2><br>
		    	<div class="row">
		    		<div class="col-md-3"><img src="{% static 'images/soil1.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/soil5.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/soil3.jpeg' %}" class="img-responsive"></div>
		    		<div class="col-md-3"><img src="{% static 'images/soil6.jpeg' %}" class="img-responsive"></div>
		    	</div>
		    </div>

			<!--gallery-->
	<!-- <div class="gallery" id="gallery">
		<div class="tittle-agileinfo">
			<h3>Properties of Real Homes</h3>
		</div>
			<ul id="flexiselDemo1">	
			<li>
				<div class="wthree_gallery_grid">
					<a href="{% static 'images/about3.jpeg' %}" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="{% static 'images/about3.jpeg' %}" alt="" class="img-responsive" />
							<div class="mask">
								<h6>Real Homes</h6>
								<p>Temporibus autem</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g2.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g2.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<h6>Real Homes</h6>
								<p>Temporibus autem</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g3.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g3.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<h6>Real Homes</h6>
								<p>Temporibus autem</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g4.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g4.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<h6>Real Homes</h6>
								<p>Temporibus autem</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g5.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g5.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<h6>Real Homes</h6>
								<p>Temporibus autem</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g6.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g6.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<h6>Real Homes</h6>
								<p>Temporibus autem</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
			<li>
				<div class="wthree_gallery_grid">
					<a href="images/g7.jpg" class="lsb-preview" data-lsb-group="header">
						<div class="view second-effect">
							<img src="images/g7.jpg" alt="" class="img-responsive" />
							<div class="mask">
								<h6>Real Homes</h6>
								<p>Temporibus autem</p>
							</div>
						</div>	
					</a>
				</div>
			</li>
		</ul>
	</div> -->
<!--//gallery-->


                <div class="services-grid">
                	{% if video_list %}
                	<div class="row">
                	
                	<div class="col-md-6 service-top1">
                	{% for property in property_list %}
                	<div class="col-md-6 service-top1">
	                	<div  class="price-top">
	                	<a href="{{ property.get_absolute_url }}">
	                		<h4 style="text-align: left;">{{ property.title }}</h4>
	                	</a>
	                	</div>
	                	{% if property.image %}
	                	<img src="{{ property.image.url }}" class="img-responsive"> <br>
	                	{% endif %}
	                	{% cycle "" "<div class='col-md-12 col-sm-12' style='padding-bottom: 30px;'></div></div><div class='services-grid'>" %}
	                </div>
	                {% endfor %}
	                </div>

	                
	                <div class="col-md-6 service-top1">
	                
	                <div class="row">
	                {% for video in video_list %}
	                	<div class="service-top1">
		                	<div  class="price-top">
			                	<a href="{{ video.get_absolute_url }}">
			                		<h4 style="text-align: left;">{{ video.title }}</h4>
			                	</a>
			                </div>
	                	{{ video.embed_code|safe }} <br>
	                	</div>
	                {% endfor %}	                	
	                </div>
	                

	                </div>

	                </div>
	                {% else %}

	                <div class="row">
                	
                	<div class="col-md-12 service-top1">
                	{% for property in property_list %}
                	<div class="col-md-3 service-top1">
	                	<div  class="price-top">
	                	<a href="{{ property.get_absolute_url }}">
	                		<h4 style="text-align: left;">{{ property.title }}</h4>
	                	</a>
	                	</div>
	                	{% if property.image %}
	                	<img src="{{ property.image.url }}" class="img-responsive"> <br>
	                	{% endif %}
	                	{% cycle "" "" "" "<div class='col-md-12 col-sm-12' style='padding-bottom: 30px;'></div></div><div class='services-grid'>" %}
	                </div>
	                {% endfor %}
	                </div>

	                </div>
	                {% endif %}

	                	<!-- {% cycle "" "<div class='col-md-12 col-sm-12' style='padding-bottom: 30px;'></div></div><div class='services-grid'>" %} -->
					
				</div>	
		</div>

	</div>
	<div  style="text-align:center">
		<div class="pagination">
		    <span class="step-links">
		        
		        <ul class="pager">        
		      
		        <li class="next">
		        {% if properties.has_next %}
		            <a href="?{{ page_request_var }}={{ properties.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
		        {% endif %}
		        </li>
		    
		        <li class="next">  
		        <span class="current">
		            Page {{ properties.number }} of {{ properties.paginator.num_pages }}.
		        </span>
		        </li>

		        <li class="next">
		        {% if properties.has_previous %}
		        <a href="?{{ page_request_var }}={{ properties.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
		        {% endif %}
		        </li>
		        
		        </ul>

		    </span>
		</div>
	</div>

</div>


{% endblock content %}