{% extends "base3.html" %}
{% load staticfiles %}
{% block title %}Home {% endblock title %}

{% block content %}

<div class=" header-right">
    <div class=" banner">

        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">             
                    <li>
                        <div class="banner1" style="background: url('/static/images/4.jpg') no-repeat;">
                        <div class="caption">
                            <h3><span>OTOli</span>ve Homes </h3>
                            <p>Get Luxury Homes at Extremely Affordable Prices</p>
                        </div>
                    </div>
                    </li>
                    <li>
                        <div class="banner2" style="background: url('/static/images/bg2.png') no-repeat;">
                        <div class="caption">
                            <h3><span>Sold Out!</span> Olive Vine 1 <small style="color: red;"></small> </h3>
                            <p><span>Adeniyi Jegede Crescent, Gbagada, Lagos</span></p>
                            
                        </div>
                    </div> 
                    </li>
                    <li>
                        <div class="banner3" style="background: url('/static/images/bg3.jpeg') no-repeat;">
                        <div class="caption">
                            <h3 style="color: black;"><span>Selling Now!</span> <small style="color: black;"> </small></h3>
                            <h3><span style="color: black;"> Olive Vine 2</span></h3>
                        </div>
                    </div>
                    </li> 
                </ul>
            </div>
        </div>
    </div>

        
    </div>
     

<!--about-->
    <div class="phone">
        <div class="container">
            <div class="col-md-6">
                <img src="{% static 'images/about3.jpeg' %}" class="img-responsive" alt=""/>
            </div>
            <div class="col-md-6 phone-text">
                <h4>OT. Olive Homes</h4>
                    <div class="text-1">
                        <h5>Welcome to a whole new world of luxury living</h5>
                        Our purpose is to give you what you can hardly find else where: Luxury Homes and perfect view at Extremely Affordable Prices
                         <!-- style="text-align: justify;" -->
                        <h5>Gbagada Glory Estate</h5>
                        Setting the pace in Urban Development, our homes, located at Adeniyi Jegede Crescent, Close to Yetunde Brown Estate; are uniquely designed into semi-detached and fully detached houses which best speaks elegance and class
                    </div>
                    <!-- <a href="mobile_app.html" class="hvr-sweep-to-right more">Download the App</a> -->
            </div>
        </div>
    </div>
<!--//about-->


<!--about-->
    <div class="phone" style="padding-bottom: 0px;">

        <div class="container">
            
            <div class="col-md-6 phone-text">
                <h4>Why Choose Us</h4>
                    <div class="text-1">
                        <h5>DELIVERY TIMELINES</h5>
                        <strong style="color: #60D2C7;">OT. Olive Homes</strong> takes commitments made to customer and timelines very seriously and this development is no exception. This will ensure that our clients are carried along at every stage of the way and we are supervised by you our client, thus keeping to our service level commitments which we made at the beginning of our engagement and reinforcing one of our underlying business principles: We sure will always deliver
                        
                        <h5>RETURN ON INVESTMENT</h5>
                        <strong style="color: #60D2C7;">OT. Olive Homes</strong> is one of the best if not the best real estate investments in the Nigerian market presently and offers a return on investment unmatched anywhere else in this area. We will demonstrate this using the simple and most basic model of real estate investment – the income based approach, which focuses on the potential income relative to initial investment. To own any of our duplex, you simply pay some stipulated amounts. This gives you a potential minimum Return on Risk Free Investment.
                    </div>
            </div>

            <div class="col-md-6">
                <img src="{% static 'images/about4.jpeg' %}" class="img-responsive" alt=""/>
            </div>
        </div>
    </div>
<!--//about-->

<!-- <div class="content-grid"> -->
{% comment %}
<section>
{% if featured_projects %}

<div class="container" style="padding-top: 0px;">
    <div class="future">
        <h3 >Featured Projects</h3>
            <div class="content-bottom-in">
                    <ul id="flexiselDemo1">
                        {% for project in featured_projects %}
                            <li>
                                <div class="project-fur">
                                    {% if project.house_image %} 
                                    <a href="{{ project.get_absolute_url }}" ><img class="img-responsive" src="{{ project.house_image.url }}" alt=""/></a>
                                        <div class="fur">                                            
                                            
                                            <div class="fur1">
                                                
                                               
                                                {% if project.total_price %}
                                                <h6 style="text-align: center;">Price: &#x20A6;{{ project.total_price}}</h6>
                                                {% endif %}

                                          <!--       {% if project.address %}
                                                <span>{{ project.address|truncatechars:15 }}</span>
                                                {% endif %} -->
                                            </div>
                                            <div class="fur2">
                                                
                                                {% if project.title %}
                                               <h6 class="fur-name" style="text-align: center;">
                                               <a href="{{ project.get_absolute_url }}">
                                               {{ project.title|truncatechars:30 }}</a>
                                               </h6>
                                               {% endif %}

                                            </div>
                                        </div>
                                    {% endif %}                  
                                </div>
                            </li>
                        {% endfor %}        
                     
                    </ul>
                    <script type="text/javascript">
                        $(window).load(function() {
                            $("#flexiselDemo1").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,            
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: { 
                                    portrait: { 
                                        changePoint:480,
                                        visibleItems: 1
                                    }, 
                                    landscape: { 
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: { 
                                        changePoint:768,
                                        visibleItems: 3
                                    }
                                }
                            });
                            
                        });
            </script>
            <script src="{% static 'real/js/jquery.flexisel.js' %}"></script>
        </div>
    </div>
</div>
{% endif %}
<!-- </div> -->
 </section> 
{% endcomment %}
{% endblock content %}

<!--initiate accordion 888888888888888888888888888888888 -->
<div class="menu-right">
         <ul class="menu">
            <li class="item1"><a href="#"> Menu<i class="glyphicon glyphicon-menu-down"> </i> </a>
            <ul class="cute">
                <li class="subitem1"><a href="">Buy </a></li>
                <li class="subitem2"><a href=".">Rent </a></li>
                <li class="subitem3"><a href=".">Hostels </a></li>
                <li class="subitem1"><a href=".">Resale </a></li>
                <li class="subitem2"><a href=".">Home Loan</a></li>
                <li class="subitem3"><a href=".">Apartment </a></li>
                <li class="subitem3"><a href=".">Dealers</a></li>
            </ul>
        </li>
        </ul>
    </div> 
    <div class="clearfix"> </div>

<script type="text/javascript">
    $(function() {
        var menu_ul = $('.menu > li > ul'),
               menu_a  = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function(e) {
            e.preventDefault();
            if(!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true,true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true,true).slideUp('normal');
            }
        });
    
    });
</script>
<!--initiate accordion 888888888888888888888888888888888 -->


<div class="container">
    
    <!--price-->
    <div class="price">
        <div class="price-grid">
            <div class="col-sm-4 price-top">
                <h4>City</h4>
                <select class="in-drop">
                    <option>Select City</option>
                    <option>Bangkok</option>
                    <option>Tokyo</option>
                    <option>London</option>
                    <option>Paris</option>
                    <option>Dhubai</option>
                    <option>New Jerrsey</option>
                    <option>Hongkong</option>
                    <option>New York</option>
                    <option>Rome</option>
                    <option>Sydney</option>
                    <option>Florence</option>
                    <option>Istanbul</option>
                    <option>Brezil</option>
                    <option>Canda</option>
                    <option>Malaysia</option>
                    <option>Singapore</option>
                    <option>Taiwan</option>
                    <option>Spain</option>
                    <option>More</option>
                </select>
            </div>
            <div class="col-sm-4 price-top">
                <h4>Category</h4>
                <select class="in-drop">
                    <option>Select Category</option>
                    <option>Apartment</option>
                    <option>Independent House</option>
                    <option>Row House</option>
                    <option>Villa</option>
                    <option>Builder Floor</option>
                    <option>Farm House</option>
                    <option>Penthouse</option>
                </select>
            </div>
            <div class="col-sm-4 price-top">
                <h4>Rooms</h4>
                <select class="in-drop">
                    <option>No. of Bedrooms</option>
                    <option>1 BHK</option>
                    <option>2 BHK</option>
                    <option>3 BHK</option>
                    <option>4 BHK</option>
                    <option>4+ BHK</option>
                </select>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="price-grid">
            <div class="col-sm-6 price-top1">
                <h4>Price Range</h4>
                <ul>
                    <li>
                        <select class="in-drop">
                            <option>Price From</option>
                            <option>0</option>
                            <option>5 Lacs </option>
                            <option>10 Lacs</option>
                            <option>15 Lacs</option>
                            <option>20 Lacs</option>
                            <option>25 Lacs</option>
                            <option>30 Lacs</option>
                            <option>35 Lacs</option>
                            <option>40 Lacs</option>
                            <option>45 Lacs</option>
                            <option>50 Lacs</option>
                            <option>55 Lacs</option>
                            <option>60 Lacs</option>
                            <option>65 Lacs</option>
                            <option>70 Lacs</option>
                            <option>75 Lacs</option>
                            <option>80 Lacs</option>
                            <option>85 Lacs</option>
                            <option>90 Lacs</option>
                            <option>95 Lacs</option>
                        </select>
                    </li>
                    <span>-</span>
                    <li>
                        <select class="in-drop">
                            <option>Price To</option>
                            <option>5 Lacs</option>
                            <option>10 Lacs</option>
                            <option>15 Lacs</option>
                            <option>20 Lacs</option>
                            <option>25 Lacs</option>
                            <option>30 Lacs</option>
                            <option>35 Lacs</option>
                            <option>40 Lacs</option>
                            <option>45 Lacs</option>
                            <option>50 Lacs</option>
                            <option>55 Lacs</option>
                            <option>60 Lacs</option>
                            <option>65 Lacs</option>
                            <option>70 Lacs</option>
                            <option>75 Lacs</option>
                            <option>80 Lacs</option>
                            <option>85 Lacs</option>
                            <option>90 Lacs</option>
                            <option>95 Lacs</option>
                            <option>100 Cr</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 price-top1">
                <h4>Area</h4>
                <ul>
                    <li>
                        <select class="in-drop">
                            <option>Sqmt From</option>
                            <option>0</option>
                            <option>500 Sq Ft</option>
                            <option>1000 Sq Ft</option>
                            <option>1500 Sq Ft</option>
                            <option>2000 Sq Ft</option>
                            <option>2500 Sq Ft</option>
                            <option>3000 Sq Ft</option>
                            <option>3500 Sq Ft</option>
                            <option>4000 Sq Ft</option>
                            <option>4500 Sq Ft</option>
                        </select>
                    </li>
                    <span>-</span>
                    <li>
                        <select class="in-drop">
                            <option>Sqmt To</option>
                            <option>500 Sq Ft</option>
                            <option>1000 Sq Ft</option>
                            <option>1500 Sq Ft</option>
                            <option>2000 Sq Ft</option>
                            <option>2500 Sq Ft</option>
                            <option>3000 Sq Ft</option>
                            <option>3500 Sq Ft</option>
                            <option>4000 Sq Ft</option>
                            <option>4500 Sq Ft</option>
                            <option>5000+ Sq Ft</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---->
    <div class="top-grid">
        <h3>Top City</h3>
        <div class="grid-at">
            <div class="col-md-3 grid-city">
                <div class="grid-lo">
                    <a href="buy_single.html">
                        <figure class="effect-layla">
                        <img class=" img-responsive" src="{% static 'images/ce.jpg' %}" alt="img06">
                        <figcaption>
                            <h4>London</h4>
                            
                        </figcaption>           
                    </figure>
                    </a>
                 </div>
            </div>
            <div class="col-md-3 grid-city">
                <div class="grid-lo">
                        <a href="buy_single.html">
                    <figure class="effect-layla">
                        <img class=" img-responsive" src="{% static 'images/ce1.jpg' %}" alt="img06">
                        <figcaption>
                            <h4>Sydney</h4>
                            
                        </figcaption>           
                    </figure>
                    </a>
                 </div>
            </div>
            <div class="col-md-6 grid-city grid-city1">
                <div class="grid-me">
                <div class="col-md-8 grid-lo1">
                    <div class=" grid-lo">
                            <a href="buy_single.html">
                    <figure class="effect-layla">
                        <img class=" img-responsive" src="{% static 'images/ce2.jpg' %}" alt="img06">
                        <figcaption>
                            <h4 class="effect1">New York</h4>
                            
                        </figcaption>           
                    </figure>
                    </a>
                 </div>
                </div>
                 <div class="col-md-4 grid-lo2">
                    <div class=" grid-lo">
                            <a href="buy_single.html">
                    <figure class="effect-layla">
                        <img class=" img-responsive" src="{% static 'images/ce3.jpg' %}" alt="img06">
                        <figcaption>
                            <h4 class="effect2">Rome</h4>
                            
                        </figcaption>           
                    </figure>
                    </a>
                 </div>
                 </div>
                 <div class="clearfix"> </div>
            </div>  
            <div class="grid-me">
                <div class="col-md-6 grid-lo3">
                    <div class=" grid-lo">
                            <a href="buy_single.html">
                    <figure class="effect-layla">
                        <img class="img-responsive" src="{% static 'images/ce4.jpg' %}" alt="img06">
                        <figcaption>
                            <h4 class="effect3">Singapore</h4>
                            
                        </figcaption>           
                    </figure>
                    </a>
                 </div>
                 </div>
                 <div class="col-md-6 grid-lo4">
                    <div class=" grid-lo">
                            <a href="buy_single.html">
                    <figure class="effect-layla">
                        <img class="img-responsive" src="{% static 'images/ce5.jpg' %}" alt="img06">
                        <figcaption>
                            <h4 class="effect3">Paris</h4>
                            
                        </figcaption>           
                    </figure>
                    </a>
                 </div>
                 </div>
                 <div class="clearfix"> </div>
            </div>  
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!---->
<!--premium-project-->
<div class="premium">
    <div class="pre-top">
        <h5>Lorem Ipsum is simply dummy</h5>
        <p>$7.24 Lacs-4.36 Lacs 2-3 BHK, Lorem Ipsum</p>
    </div>
</div>
<!--//premium-project-->
<!---->
<div class="container">
    <div class="future">
        <h3 >Fetured Projects</h3>
            <div class="content-bottom-in">
                    <ul id="flexiselDemo1">         
                        <li><div class="project-fur">
                                <a href="single.html" ><img class="{% static 'img-responsive" src="images/pi.jpg' %}" alt="" /> </a>
                                    <div class="fur">
                                        <div class="fur1">
                                            <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
                                            <h6 class="fur-name"><a href="single.html">Contrary to popular</a></h6>
                                            <span>Paris</span>
                                        </div>
                                        <div class="fur2">
                                            <span>2 BHK</span>
                                         </div>
                                    </div>                  
                            </div></li>
                            <li><div class="project-fur">
                                    <a href="single.html" ><img class="img-responsive" src="{% static 'images/pi1.jpg' %}" alt="" />    </a>
                                        <div class="fur">
                                            <div class="fur1">
                                                <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
                                               <h6 class="fur-name"><a href="single.html">Contrary to popular</a></h6>
                                                <span>Paris</span>
                                            </div>
                                            <div class="fur2">
                                                <span>2 BHK</span>
                                             </div>
                                        </div>                  
                                </div></li>
                                <li><div class="project-fur">
                                <a href="single.html" ><img class="img-responsive" src="{% static 'images/pi2.jpg' %}" alt="" />    </a>
                                    <div class="fur">
                                        <div class="fur1">
                                            <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
                                           <h6 class="fur-name"><a href="single.html">Contrary to popular</a></h6>
                                            <span>Paris</span>
                                        </div>
                                        <div class="fur2">
                                            <span>2 BHK</span>
                                         </div>
                                    </div>                  
                            </div></li>
                            <li><div class="project-fur">
                                <a href="single.html" ><img class="img-responsive" src="{% static 'images/pi3.jpg' %}" alt="" />    </a>
                                    <div class="fur">
                                        <div class="fur1">
                                            <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
                                            <h6 class="fur-name"><a href="single.html">Contrary to popular</a></h6>
                                            <span>Paris</span>
                                        </div>
                                        <div class="fur2">
                                            <span>2 BHK</span>
                                         </div>
                                    </div>                  
                            </div></li>
                    </ul>
                    
            
        </div>
    </div>
</div>


<section id="intro" class="intro-section">
        <div class="container">
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
</div>

<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
</div>
</div>
</section>


    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Scrolling Nav</h1>
                    <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                    <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Section</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Services Section</h1>
                </div>
            </div>
        </div>
    </section>




<div class="content">
    <div class="content-grid">
        <div class="container">
            <h3>Most Popular</h3>
                <div class="col-md-4 box_2">
                     <a href="single.html" class="mask">
                        <img class="img-responsive zoom-img" src="{% static 'images/pc4.jpg' %}" alt="">
                        <span class="four">40,000$</span>
                     </a>
                       <div class="most-1">
                         <h5><a href="single.html">Contrary to popular</a></h5>
                            <p>Lorem ipsum</p>
                       </div>
             </div>
              <div class="col-md-4 box_2">
                 <a href="single.html" class="mask">
                        <img class="img-responsive zoom-img" src="{% static 'images/pc5.jpg' %}" alt="">
                        <span class="four">40,000$</span>
                     </a>
                   <div class="most-1">
                        <h5><a href="single.html">Contrary to popular</a></h5>
                            <p>Lorem ipsum</p>
                       </div>
                
              </div>
              <div class="col-md-4 box_2">
                 <a href="single.html" class="mask">
                        <img class="img-responsive zoom-img" src="{% static 'images/pc3.jpg' %}" alt="" >
                        <span class="four">40,000$</span>
                     </a>
                   <div class="most-1">
                         <h5><a href="single.html">Contrary to popular</a></h5>
                            <p>Lorem ipsum</p>
                       </div>
                
              </div>
            <div class="clearfix"> </div>
        </div>
    </div>

<!--features-->
        <div class="content-middle">
            <div class="container">
                <div class="mid-content">
                    <h3>the best features</h3>
                    <p>Contrary to popular belief
                            , Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    <a class="hvr-sweep-to-right more-in" href="single.html">Read More</a>
                </div>
            </div>
        </div>
<!--//features-->
<!--project -->
    <div class="project">
        <div class="container">
            <h3>Project Gallery</h3>
                <div class="project-top">
                    <div class="col-md-3 project-grid">
                        <div class="project-grid-top">
                             <a href="single.html" class="mask"><img src="{% static 'images/ga.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
                             <div class="col-md1">
                                 <div class="col-md2">
                                     <div class="col-md3">
                                        <span class="star"> 4.5</span>
                                     </div>
                                     <div class="col-md4">
                                        <strong>Venice</strong>
                                        <small>50 Reviews</small>
                                     </div>
                                     <div class="clearfix"> </div>
                                 </div>
                                 <p>2, 3, 4 BHK Flats</p>
                                 <p class="cost">$65,000</p>
                                 <a href="single.html" class="hvr-sweep-to-right more">See Details</a>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-3 project-grid">
                        <div class="project-grid-top">
                              <a href="single.html" class="mask"><img src="{% static 'images/ga1.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
                             <div class="col-md1">
                                 <div class="col-md2">
                                     <div class="col-md3">
                                        <span class="star"> 4.5</span>
                                     </div>
                                     <div class="col-md4">
                                        <strong>Venice</strong>
                                        <small>50 Reviews</small>
                                     </div>
                                     <div class="clearfix"> </div>
                                 </div>
                                 <p>2, 3, 4 BHK Flats</p>
                                 <p class="cost">$65,000</p>
                                 <a href="single.html" class="hvr-sweep-to-right more">See Details</a>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-3 project-grid">
                        <div class="project-grid-top">
                              <a href="single.html" class="mask"><img src="{% static 'images/ga2.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
                             <div class="col-md1">
                                 <div class="col-md2">
                                     <div class="col-md3">
                                        <span class="star"> 4.5</span>
                                     </div>
                                     <div class="col-md4">
                                        <strong>Venice</strong>
                                        <small>50 Reviews</small>
                                     </div>
                                     <div class="clearfix"> </div>
                                 </div>
                                 <p>2, 3, 4 BHK Flats</p>
                                 <p class="cost">$65,000</p>
                                 <a href="single.html" class="hvr-sweep-to-right more">See Details</a>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-3 project-grid">
                        <div class="project-grid-top">
                              <a href="single.html" class="mask"><img src="{% static 'images/ga3.jpg' %}" class="img-responsive zoom-img" alt=""/></a>
                             <div class="col-md1">
                                 <div class="col-md2">
                                     <div class="col-md3">
                                        <span class="star"> 4.5</span>
                                     </div>
                                     <div class="col-md4">
                                        <strong>Venice</strong>
                                        <small>50 Reviews</small>
                                     </div>
                                     <div class="clearfix"> </div>
                                 </div>
                                 <p>2, 3, 4 BHK Flats</p>
                                 <p class="cost">$65,000</p>
                                 <a href="single.html" class="hvr-sweep-to-right more">See Details</a>
                             </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>              
        </div>
    </div>
<!--//project-->
<!--test-->
        <!-- <div class="content-bottom">
            <div class="container">
                <h3>Testimonials</h3>
                    <div class="col-md-6 name-in">
                        <div class=" bottom-in">
                            <p class="para-in">Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <i class="dolor"> </i>
                            <div class="men-grid">
                                <a href="#" class="men-top"><img class="img-responsive men-top" src="{% static 'images/te.jpg' %}" alt=""></a>
                                <div class="men">
                                <span>Roger V. Coates</span>
                                <p>Ut enim ad minim</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                        <div class=" bottom-in">
                            <p class="para-in">Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <i class="dolor"> </i>
                            <div class="men-grid">
                                <a href="#" class="men-top"><img class="img-responsive " src="{% static 'images/te2.jpg' %}" alt=""></a>
                                <div class="men">
                                    <span>Ann K. Perez</span>
                                    <p>Ut enim ad minim</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  name-on">
                        <div class="bottom-in ">
                            <p class="para-in">Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <i class="dolor"> </i>
                            <div class="men-grid">
                                <a href="#" class="men-top"><img class="img-responsive " src="{% static 'images/te1.jpg' %}" alt=""></a>
                                <div class="men">
                                    <span>Nancy M. Picker</span>
                                    <p>Ut enim ad minim</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
            </div>
        </div>       -->
<!--//test-->   
<!--partners-->
    <!-- <div class="content-bottom1">
        <h3>Our Partners</h3>
            <div class="container">
                <ul>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg.png' %}" alt=""></a></li>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg1.png' %}" alt=""></a></li>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg2.png' %}" alt=""></a></li>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg3.png' %}" alt=""></a></li>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg4.png' %}" alt=""></a></li>
                <div class="clearfix"> </div>
                </ul>
                <ul>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg5.png' %}" alt=""></a></li>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg6.png' %}" alt=""></a></li>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg7.png' %}" alt=""></a></li>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg8.png' %}" alt=""></a></li>
                    <li><a href="#"><img class="img-responsive" src="{% static 'images/lg9.png' %}" alt=""></a></li>    
                <div class="clearfix"> </div>
                </ul>
            </div>
        </div>   -->
<!--//partners-->   
    </div>



<!--header-bottom-->
<div class="banner-bottom-top">
        <div class="container">
        <div class="bottom-header">
            <div class="header-bottom">
                <div class=" bottom-head">
                    <a href="#">
                        <div class="buy-media">
                            <i class="buy"> </i>
                            <h6>Buy</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="#l">
                        <div class="buy-media">
                        <i class="rent"> </i>
                        <h6>Rent</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="#">
                        <div class="buy-media">
                        <i class="deal"> </i>
                        <h6>Deals</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="#">
                        <div class="buy-media">
                        <i class="sell"> </i>
                        <h6>Resale</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="#">
                        <div class="buy-media">
                        <i class="loan"> </i>
                        <h6>Home Loans</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="{% url 'video_list' %}">
                        <div class="buy-media">
                        <i class="pg"> </i>
                        <h6>Videos</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="{% url 'properties_list' %}">
                        <div class="buy-media">
                        <i class="apart"> </i>
                        <h6>Projects</h6>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
</div>
</div>
<!--//-->



<div class="container">
    <!--price-->
    <div class="price">
     <div class="price-grid">
            <div class="col-sm-12 price-top">
                <h4 style="text-align: center;">Find your new home here</h4>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Search 
                    <i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" placeholder="Town/City" aria-describedby="sizing-addon3">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



    <div class=" header-right">
        <div class=" banner">
             <div class="slider">
                <div class="callbacks_container">
                  <ul class="rslides" id="slider">             
                     <li>
                         <div class="banner1" style="background: url('images/4.jpg') no-repeat;">

                            <div class="caption">
                                <h3><span>vivam</span>us site</h3>
                                <p>Nunc dignissim risus idi</p>
                            </div>
                        </div>
                     </li>
                     <li>
                         <div class="banner2" style="background: url('images/2.jpg') no-repeat;">
                            <div class="caption">
                                <h3><span>vivam</span>us site</h3>
                                <p>Nunc dignissim risus idi</p>
                            </div>
                        </div>
                     </li>
                     <li>
                         <div class="banner3" style="background: url('images/5.jpg') no-repeat;">
                            <div class="caption">
                                <h3><span>vivam</span>us site</h3>
                                <p>Nunc dignissim risus idi</p>
                            </div>
                        </div>
                     </li>      
                  </ul>
              </div>
            </div>
        </div>
    </div>
     
