{% extends "base3.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Featured Projects{% endblock title %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'css/baguetteBox.min.css' %}"/>
<style>
        div.gallery {
            border: 1px solid #ccc;
            position: relative;
        }
        
        div.gallery:hover {
            border: 1px solid #777;
        }
        
        div.gallery img {
            width: 100%;
            height: auto;
        }
        
        div.desc {
            padding: 15px;
            text-align: center;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }
        
        @media only screen and (max-width: 700px) {
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
        }
        
        @media only screen and (max-width: 500px) {
            .responsive {
                width: 100%;
            }
        }
        
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
        .container .overlay {
			position: absolute; /* Position the background text */
			bottom: 0; /* At the bottom. Use top:0 to append it to the top */
			background: rgb(0, 0, 0); /* Fallback color */
			background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
			color: #f1f1f1; /* Grey text */
			width: 100%; /* Full width */
			padding: 20px; /* Some padding */
			transition: .5s ease;
  			opacity:.7;
		  }
		.container:hover .overlay {
			opacity: 1;
		}
		h4 {
			text-align: center;
		}
</style>
{% endblock extra-css %}



{% block content %}
<!--List of videos -->
<div class="services">					
    <div class="container">
		 <div class="service-top">
        	<h3>Property Details</h3>
        	
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="fur1">
							<h6 class="fur-name" style="text-align: center;"><a>{{ page.title }}</a></h6>
						</div>
							{% image page.model_pic fill-750x447 %}
					</div>
					<div class="row">
						 <div class="fur">
	                    <div class="fur1">
                      
		                    <br>
		                    {% comment %} <h4 class="fur-name">{{ page.body|richtext }}</h4> {% endcomment %}
	                    	<br>
	                       	<!-- <h4>State: {{ instance.state }}</h4>
	                       	<br>
	                       	<h4>Address: {{ instance.address }}</h4>
	                       	<br> -->
	                    	<div class="contact-top1" style="text-align: center;">
		  					</div>
		  						<h4>Payment Plan</h4>
	                    	<br>
	                    	<table class="table table-bordered table-sm table-striped  table-hover">
		                	<thead class="thead-default">
		                	<tr>
							<th>MONTHS</th><th>PERCENTAGE</th><th>INITIAL</th><th>BALANCE (&#x20A6;)</th><th>TOTAL (&#x20A6;)</th>
							</tr>
							</thead>
							<tbody>
		                	{% for plan in page.listing_payments.all %} 

							<tr class="table-info">
							<td class="table-info">{{ plan.month }}</td>
							<td>{{ plan.percent }}%</td>
							<td>&#x20A6; {{ plan.initial_payment|floatformat:"2"|intcomma }}</td>
							<td>&#x20A6; {{ plan.balance|floatformat:"2"|intcomma }}</td>
							<td>&#x20A6; {{ plan.total_amount|floatformat:"2"|intcomma }}</td>
							</tr>
		                                       
		                    {% endfor %}
		                    </tbody>
		                    </table>

		                    <!-- <div class="contact-top1" style="text-align: center;">
		  						<h5>Other De Plan</h5>
		  					</div> -->
	                       	
	                       	<a href="{% url 'home' %}" class="hvr-sweep-to-right more" >Back to Home</a>
	                    </div> 
	                </div>	
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="fur1">
							<h6 class="fur-name" style="text-align: center;"><a>Floor Plan</a></h6>
						</div>
						<div>
							{% comment %} {% image page.plan_pic fill-360x504 %} {% endcomment %}
							{% for img in page.listing_images.all %}
								<div style="margin-bottom: 10px;">{% image img.image fill-360x250 %}</div>
							{% endfor %}
						</div>
					</div>
					<div class="row">
					<br /><br />
						<div class="contact-top1" style="text-align: center;">
  						<h4>Other Properties</h4>
  					</div>

  					{% for project in page.get_siblings.all %}
						{% if project.id != page.id %}
							<div class="service-top1">
									
							<a href="{% pageurl project %}">
								{% image project.specific.model_pic fill-360x215 %}
							</a>
								
							<br>
							<div  class="price-top">
								<a href="{% pageurl project %}">
									<h4 style="text-align: left;">{{ project.specific.title }}</h4>
								</a>
								<h4 style="text-align: left;">Price:  &#x20A6;{{ project.specific.cost}}</h4>
								<h5 style="text-align: left;">{{ project.specific.address }}</h5>
								<br>
							</div>
				    		</div>
            			{% endif %}
				    {% endfor %}
					</div>
				</div>
			</div>


        	{% comment %} <div class="row">
        		<div class="col-md-8">
					<div class="fur1">
						<h6 class="fur-name" style="text-align: center;"><a>{{ page.title }}</a></h6>
					</div>
						{% image page.model_pic fill-750x447 %}
				</div>

        		<div class="col-md-4">
					<div class="fur1">
						<h6 class="fur-name" style="text-align: center;"><a>Floor Plan</a></h6>
					</div>
					<div>
						{% image page.plan_pic fill-360x504 %}
					</div>
        		</div> 	
        	</div>
	        <div class="row">
	        	<div class="col-md-8">
	                <div class="fur">
	                    <div class="fur1">
                      
		                    <br>
	                    	<br>
	                       	<!-- <h4>State: {{ instance.state }}</h4>
	                       	<br>
	                       	<h4>Address: {{ instance.address }}</h4>
	                       	<br> -->
	                    	<div class="contact-top1" style="text-align: center;">
		  					</div>
		  						<h4>Payment Plan</h4>
	                    	<br>
	                    	<table class="table table-bordered table-sm table-striped  table-hover">
		                	<thead class="thead-default">
		                	<tr>
							<th>MONTHS</th><th>PERCENTAGE</th><th>INITIAL</th><th>BALANCE (&#x20A6;)</th><th>TOTAL (&#x20A6;)</th>
							</tr>
							</thead>
							<tbody>
		                	{% for plan in page.listing_payments.all %} 

							<tr class="table-info">
							<td class="table-info">{{ plan.month }}</td>
							<td>{{ plan.percent }}%</td>
							<td>&#x20A6; {{ plan.initial_payment|floatformat:"2"|intcomma }}</td>
							<td>&#x20A6; {{ plan.balance|floatformat:"2"|intcomma }}</td>
							<td>&#x20A6; {{ plan.total_amount|floatformat:"2"|intcomma }}</td>
							</tr>
		                                       
		                    {% endfor %}
		                    </tbody>
		                    </table>

		                    <!-- <div class="contact-top1" style="text-align: center;">
		  						<h5>Other De Plan</h5>
		  					</div> -->
	                       	
	                       	<a href="{% url 'home' %}" class="hvr-sweep-to-right more" >Back to Home</a>
	                    </div> 
	                </div>	

	                	
	            </div>
	            <div class="col-md-4">
	            	<div class="contact-top1" style="text-align: center;">
  						<h4>Other Properties</h4>
  					</div>

  					{% for project in page.get_siblings.all %}
						{% if project.id != page.id %}
							<div class="service-top1">
									
							<a href="{% pageurl project %}">
								{% image project.specific.model_pic fill-360x215 %}
							</a>
								
							<br>
							<div  class="price-top">
								<a href="{% pageurl project %}">
									<h4 style="text-align: left;">{{ project.specific.title }}</h4>
								</a>
								<h4 style="text-align: left;">Price:  &#x20A6;{{ project.specific.cost}}</h4>
								<h5 style="text-align: left;">{{ project.specific.address }}</h5>
								<br>
							</div>
				    		</div>
            			{% endif %}
				    {% endfor %}

  				</div>	                 
	        </div> {% endcomment %}
	    </div>
	</div>
</div>
{% comment %} <div class="services"> {% endcomment %}
	<div class="container">
		<div class="service-top">
 <div class="services-grid">
        <h3 >Features</h3>

                <div class="row">
                    <br/>
                    {% for pic in page.listing_rooms.all %}
                    <div class="responsive">
                        <div class="gallery">
                            {% image pic.model_pic fill-370x235 %}
                            <div class="overlay">
                              <h4>{{pic.title}}</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
            </div>
            {% comment %} </div> {% endcomment %}

{% endblock content %}


<!-- 	
<div class="buy-single-single" style="padding-top: 0px;">
<div class="col-md-12 single-box">
				
	       <div class=" buying-top">	
				<div class="flexslider">
				  <ul class="slides">
				  	{% for project in projects %}
				  	{% if project.house_image %}
				    <li data-thumb="{{ project.house_image.url }}">
				      <a href="{{ project.get_absolute_url }}" ><img src="{{ project.house_image.url }}"/></a>
				    </li>
				    {% endif %}
				    {% endfor %}
				  </ul>
				</div>

				 ***FlexSlider***
				  <script defer src="{% static 'real/js/jquery.flexslider.js' %}"></script>
				<link rel="stylesheet" href="{% static 'real/css/flexslider.css' %}" type="text/css" media="screen" />

				<script>
				// Can also be used with $(document).ready()
				$(window).load(function() {
				  $('.flexslider').flexslider({
				    animation: "slide",
				    controlNav: "thumbnails"
				  });
				});
				</script>
			</div>
			
		</div>
	
		<div class="clearfix"> </div>
		</div>
