{% extends "base3.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{page.title}}{% endblock title %}

{% block content %}
<!--List of videos -->
<div class="services">					
    <div class="container">

        <div class="service-top">
        	
        	
		    

        	<h3>{{page.title}}</h3>
        	<p style="padding-bottom: 10px;">Take a look at our ongoing projects</p>
        	<p>
        	<!-- search -->
			{% comment %} <div style="text-align: center; padding-bottom: 50px;">
        	<form>
		        <input type="text" name="q" placeholder="Search Projects" value="{{ request.GET.q }}"/>
		        <input type="submit" value="Search"/>
		    </form>
		    </div> {% endcomment %}
			<!-- search -->
		    </p>
			<br />
			

                <div class="services-grid">
                	{% for listing in listings %}

                	<div class="row">
						<div class="col-md-6 service-top1">
							<div  class="price-top">
								<a href="{% pageurl listing %}">
									<h4 style="text-align: left;">{{ listing.title }}</h4>
								</a>
							</div>
							{% image listing.specific.model_pic fill-555x331 %}

							{% comment %} {% if property.house_image %}
							<img src="{{ property.house_image.url }}" class="img-responsive"> <br>
							{% endif %} {% endcomment %}
						</div>
	                <div class="col-md-6 service-top1">
	                	<div  class="price-top">
	                		<h4>Payment Plan</h4>
	                	</div>
						<br />

	                    	<table class="table table-bordered table-sm table-striped  table-hover">
								<thead class="thead-default">
									<tr>
										<th>MONTHS</th><th>PERCENTAGE</th><th>INITIAL (&#x20A6;)</th><th>BALANCE (&#x20A6;)</th><th>TOTAL (&#x20A6;)</th>
									</tr>
								</thead>
							<tbody>
		                	{% for plan in listing.specific.listing_payments.all %} 

							<tr class="table-info">
							<td class="table-info">{{ plan.month }}</td>
							<td>{{ plan.percent }}%</td>
							<td>{{ plan.initial_payment|floatformat:"2"|intcomma }}</td>
							<td>{{ plan.balance|floatformat:"2"|intcomma }}</td>
							<td>{{ plan.total_amount|floatformat:"2"|intcomma }}</td>
							</tr>
		                                       
		                    {% endfor %}
		                    </tbody>
		                    </table>
		                    <a href="{% pageurl listing %}" class="hvr-sweep-to-right more" >View Property Details</a>
	                </div>
	                </div>
	                	<div class='col-md-12 col-sm-12' style='padding-bottom: 40px;'></div>
					{% endfor %}
				</div>	
		</div>
	</div>

</div>


{% endblock content %}