{% extends "base3.html" %}
{% block title %}Video - {{ video.title }}{% endblock title %}

<script>
{% block jquery %}
function update_iframe_size(){
	var parent_id = $("iframe").parent().attr("id");
	if (parent_id == "main_video"){
		var parent_class = $("iframe").parent().attr("class");
		var parent_width = $("iframe").parent().width();

		var width = $("iframe").css("width");
		var height = $("iframe").css("height");
		var ratio = parseInt(height)/parseInt(width);
		var new_height = parseInt(parent_width) * ratio
		$("iframe").css("width", parent_width);
		$("iframe").css("height", new_height);
	}
}

update_iframe_size()
$(window).bind("resize", function(){
	update_iframe_size();
});
{% endblock jquery %}
</script>

{% block content %}
<!--premium-project premium-->
<!-- 
	<div class="pre-top">
		<h5>Lorem Ipsum is simply dummy</h5>
		<p>{{ video.description }}</p>
	</div> -->

<!--//premium-project-->

<!--project -->


<div class="project">

<div class="container">
<div  class="">
    <h4 style="
    	font-size: 1.4em;
		text-transform: uppercase;
		font-family: 'Montserrat-Regular';
		color:#27da93 ;
		text-align: center;">
		{{ video.title }}</h4>
	<p style="
		color:#a3a3a3;
		font-size: 0.9em;
		line-height:2em;
		margin:0.5em 0 0em;">
		{{ video.description }}</p>
</div>

	<div class="video-pre"><h4 style=""></h4></div>
	
	<div class="col-md-12" id="main_video">
	{{ video.embed_code|safe }}
	</div>


</div>
</div>				
<!--//project-->

{% endblock content %}