{% extends "base3.html" %}
{% block title %}All Videos{% endblock title %}

{% block content %}
<!--List of videos -->
<div class="services">
    <div class="container">
        <div class="service-top">
        	<h3>Latest Videos</h3>
                <p style="padding-bottom: 10px;">Choose from our exciting playlist</p>
                <p>
	        	<!-- search -->
					<div style="text-align: center; padding-bottom: 50px;">
		        	<form>
				        <input type="text" name="q" placeholder="Search Videos" value="{{ request.GET.q }}"/>
				        <input type="submit" value="Search"/>
				    </form>
				    </div>
				<!-- search -->
			    </p>

                <div class="services-grid">
                	{% for video in videos %}
                	<div class="col-md-6 service-top1">
	                	<div  class="price-top">
	                	<a href="{{ video.get_absolute_url }}"><h4 style="text-align: left;">{{ video.title }}</h4></a></div>
	                	{{ video.embed_code|safe }} <br>
	                	</div>
	                	{% cycle "" "<div class='col-md-12 col-sm-12' style='padding-bottom: 30px;'></div></div><div class='services-grid'>" %}
					{% endfor %}
				</div>
				
		</div>
	</div>

	<div  style="text-align:center">
		<div class="pagination">
		    <span class="step-links">
		        
		        <ul class="pager">        
		      
		        <li class="next">
		        {% if videos.has_next %}
		            <a href="?{{ page_request_var }}={{ videos.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
		        {% endif %}
		        </li>
		    
		        <li class="next">  
		        <span class="current">
		            Page {{ videos.number }} of {{ videos.paginator.num_pages }}.
		        </span>
		        </li>

		        <li class="next">
		        {% if videos.has_previous %}
		        <a href="?{{ page_request_var }}={{ videos.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
		        {% endif %}
		        </li>
		        
		        </ul>

		    </span>
		</div>
	</div>
</div>


{% endblock content %}